@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap");

nav #about {
  background-color: transparent;
  font-size: 24px;
  font-weight: 600;
  color: #ff9913;
  border: none;
  padding: 15px 40px;
  font-family: "Montserrat", serif;
  cursor: pointer;
  height: 100%;
  transition: font-weight 0.3s ease-in-out, background-color 0.3s ease-in-out,
    font-size 0.3s ease-in-out;
  border-bottom: 3px solid #ff9913;
}

nav > button#about:hover {
  color: white;
  font-weight: 700;
  background-color: #e68a00;
  font-size: 24px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap");

* {
  font-family: Montserrat, serif;
}

nav #menu {
  background-color: transparent;
  font-size: 24px;
  font-weight: 600;
  color: #ff9913;
  border: none;
  padding: 15px 40px;
  font-family: "Montserrat", serif;
  cursor: pointer;
  height: 100%;
  transition: font-weight 0.3s ease-in-out, background-color 0.3s ease-in-out,
    font-size 0.3s ease-in-out;
  border-bottom: 3px solid #ff9913;
}

nav > button#menu:hover {
  color: white;
  font-weight: 700;
  background-color: #e68a00;
  font-size: 24px;
}

.about-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.hero-div-about {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  background-color: #0f0f0f;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.image-about > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: 50% 45%;
  display: block;
}

.about-para1,
.about-para2,
.about-para3 {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin: 0 auto;
  min-width: 400px;
  max-width: 900px;
  padding-top: 20px;
  font-weight: 500;
  font-family: "IM Fell French Canon", serif;
  word-spacing: 15px;
}

.about-para3 {
  color: #e68a00;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 100px;
  font-size: 36px;
  font-family: "Montserrat", cursive;
}

.about-title {
  font-size: 42px;
  font-weight: 700;
  color: #ff9913;
  text-align: center;
  font-family: "Montserrat", serif;
  padding: 30px 50px;
  margin-bottom: 50px;
  font-family: "IM Fell French Canon", serif;
}

.about-title2 {
  font-size: 32px;
  font-weight: 700;
  color: #333;
  width: 200px;
  font-family: "Montserrat", serif;
  font-family: "Amatic SC", cursive;
}

.about-title2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff9913;
  margin-top: 20px;
}

.about-text {
  display: flex;
  position: relative;
  flex-direction: column;
  text-wrap: warp;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
    background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  padding-bottom: 40px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  height: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 20px 120px 20px;
  width: 760px;
}