@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-width: thin;
  scrollbar-color: #000 #222;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 4px;
  border: 1px solid #555;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #222222;
  flex-shrink: 0;
}

nav > button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  font-family: "Montserrat", serif;
  cursor: pointer;
  height: 100%;
  font-weight: normal;
  transition: font-weight 0.3s ease-in-out, background-color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

nav > button:hover {
  background-color: #ff9913;
  font-size: 26px;
  font-weight: 600;
}

.hero-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-grow: 1;
  position: relative;
}

.footer {
  background-color: #222222;
  color: #ffffff;
  padding: 25px 20px;
  text-align: center;
  flex-shrink: 0;
  margin-top: auto;
}

.footer_content {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

a {
  color: #ff9913;
  text-decoration: none;
  transition: color 0.3s ease;
}